<h2>Tests</h2>
<!-- <ul>
  <% @tests.each do |test| %>
    <li><%= test.title %></li>
    <%= test.questions.count %><br>
    <%= link_to 'Edit', edit_test_path(test) %>
    <%= link_to 'Show', test_path(test) %>
    <%= link_to 'Destroy', test_path(test), method: :delete, data: { confirm: "Are you shure?"} %>
  <% end %>
<ul> -->


<p>
  <%= link_to 'New test', new_test_path %>
</p>

<table>
  <tr>
    <th>Title</th>
    <th>Level</th>
    <th>Questions</th>
    <th colspan="3">Actions</th>
  </tr>

  <%= render @tests %>
</table>
