<h2><%= t('.header') %></h2>

<table>
  <tr>
    <th><%= t('.title') %></th>
    <th><%= t('.level') %></th>
    <th><%= t('.author') %></th>
    <th><%= t('.category') %></th>
    <th><%= t('.number_of_question') %></th>
    <th><%= t('.actions') %></th>
  </tr>

  <%= render @tests %>
</table>
